{% extends 'layout.html' %}
{% block heading %}Edit Goal: {{form.name}}{% endblock %}
{% block content %}
<form action="{{url_for('edit_goal', name=form.name)}}" method="POST">
  <div class="formwrapper">
    <h2 class="title">Edit Goal</h2>
    <form method="POST" action="/">
        <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}
          {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-field">{{ form.progress.label }} {{ form.progress }}
          {% if form.progress.errors %}
            <ul class="errors">
              {% for error in form.progress.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </div>
        {{ form.submit }}
    </form>
  </div>

   <!-- <p>
    Goal: {{form.name}}
    {% if Goal.name.errors %}
    <ul>{% for error in form.name.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
    <input type="reset" value="Cancel"/>
    <input type="submit" value="Save changes"/>
  </p> -->
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}
