{% extends 'layout.html' %}
{% block heading %}Edit Personal Information: {{Client.email_id}}{% endblock %}
{% block content %}
<form action="{{url_for('edit_client', e_id=Client.email_id)}}" method="POST">

  <h3>
    Email ID: {{Client.email_id}}
  </h3>

  <label for = "phone_number">
    Phone number:
  </label>
  <input type="number" placeholder="Enter phone number" name="phone_number" id="phone_number" value="{{Client.phone_number}}" required>

  <br>
  <br>

  <label for = "timezone">
    Timezone: 

  </label>
  <input type="number" placeholder="Enter timezone" name="timezone" id="timezone" value="{{Client.timezone}}" required>
  
  <br>
  <br>

  <label for = "year">
    Year: 

  </label>
  <input type="number" placeholder="Enter year" name="year" id="year" value="{{Client.year}}" required>

  <br>
  <br>

  <label for = "major_minor">
    Major: 
  </label>
  <input type="text" placeholder="Enter major" name="major_minor" id="major_minor" value="{{Client.major_minor}}" required>

  <br>
  <br>

  <label for = "classes">
    Classes: 
  </label>
  <input type="text" placeholder="Enter classes taking" name="classes" id="classes" value="{{Client.classes}}" required>

  <br>
  <br>

  <label for = "partner_request">
    Partner request: 
  </label>
  <input type="text" placeholder="Enter preferred partner" name="partner_request" id="partner_request" value="{{Client.partner_request}}">

  <br>
  <br>

  <label for = "priorities">
    Priorities: 
  </label>
  <input type="text" placeholder="Enter priorities" name="priorities" id="priorities" value="{{Client.priorities}}" required>

  <br>
  <br>
  <!--
  <label for = "aim">
    Aim: 
  </label>
  <input type="text" placeholder="Enter aim(s)" name="aim" id="aim" value="{{Client.aim}}" required>

  <br>
  <br>
  -->

  <hr/>
  <input type="reset" value="Reset"/>
  <input type="submit" value="Submit"/>
</form>
{% endblock %}
