{% extends 'layout.html' %}
{% block head%}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../static/css/editgoals.css" />
{% endblock %}

{% block content %}
  <form method='post'>
    <div class="container">
      <h1>Edit Goal</h1>
      <hr />
  
      <label for="name"><b>Goal name</b></label>
      <input
        type="text"
        placeholder={{goal.name}}
        name="name"
        id="name"
        required
      />

      <label for="progress"><b>Goal progress</b></label>
      <input
        type="number"
        placeholder="Update goal progress"
        name="progress"
        id="progress"
      />
      <button type="submit" class="submitbtn">Save changes</button>
      <button type="cancel" class="cancelbtn">Cancel</button>
    </div>

</form>
{% endblock %}
