<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/static/css/layout.css' />
    <title>Accountability Partners</title>
    <div class='topnav'>
      <a class='left active' href='#home.html'>Accountability Partners</a>
      <a class='right' href='#feedback.html'>Feedback</a>
      <a class='right' href='#user.html'>User Dropdown</a>
    </div>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
