{% extends 'layout.html'%} 
{% block heading %}
    <title>View Client</title>
    <link rel="stylesheet" href="/static/css/viewclient.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %} 
{% block content%}
    <body>
            <div class="row">
                <div class="column" style="background-color:#bbb;">
                    <h2>{{usr}}'s Personal Info</h2>
                    <table>
                        <tr>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>{{data.email_id}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Cell Phone Number</td>
                        </tr>
                        <tr>
                            <td>{{data.phone_number}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Class Year</td>
                        </tr>
                        <tr>
                            <td>{{data.year}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Major</td>
                        </tr>
                        <tr>
                            <td>{{data.major_minor}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Current Course</td>
                        </tr>
                        <tr>
                            <td>{{data.classes}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>What do You Hope to Get Out of Having a Partner?</td>
                        </tr>
                        <tr>
                            <td>{{data.aim}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Time Zone</td>
                        </tr>
                        <tr>
                            <td>{{data.timezone}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Requested Partner</td>
                        </tr>
                        <tr>
                            <td>{{data.partner_request}}</td>
                        </tr>
                    </table>
                    <br>
                    <table>
                        <tr>
                            <td>Matching Priority</td>
                        </tr>
                        <tr>
                            <td>{{data.priorities}}</td>
                        </tr>
                    </table>
                    <br>
                    <a href='/edit-client'><button>Edit Personal Information</button></a>
                </div>
            </div>
    </body>
{% endblock %}