{% extends 'layout.html'%} 
{% block head %}
    <title>View Goals</title>
    <link rel="stylesheet" href="/static/css/viewgoals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content%}
    <body>
        <header>{{usr}}'s Personal Goals</header>

            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <h2>Overall Progress</h2>
                    <p>Some text/figure..</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2>Goals</h2>
                    <table>
                        <tr>
                            <th>Goal Name</th>
                            <th>Progress</th>
                            <th>Date Created</th>
                        </tr>
                        {% for goal in data %}
                        <tr>
                            <td>{{goal.name}}</td>
                            <td>{{goal.progress}}</td>
                            <td>{{goal.date_created}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </body>
{% endblock %}






    

