{% extends 'layout.html'%} 
{% block heading %}
    <title>View Client</title>
    <link rel="stylesheet" href="/static/css/viewclient.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %} 
{% block content%}
    <body>
        <header>{{usr}}'s Personal Info</header>

            <div class="row">
                <div class="column" style="background-color:#aaa;">
                    <h2>Overall Progress</h2>
                    <p>Some text/figure..</p>
                </div>
                <div class="column" style="background-color:#bbb;">
                    <h2>Goals</h2>
                    <table>
                        <tr>
                            <td>Email</td>
                            <td>Cell Phone Number</td>
                            <td>Class Year</td>
                            <td>Major</td>
                            <td>Current Courses</td>
                            <td>What do you hope to get out of having a partner?</td>
                            <td>Time Zone</td>
                            <td>Requested Partner</td>
                            <td>Matching Priorities</td>
                        </tr>
                        <tr>
                            <td>{{data.email_id}}</td>
                            <td>{{data.phone_number}}</td>
                            <td>{{data.year}}</td>
                            <td>{{data.major_minor}}</td>
                            <td>{{data.classes}}</td>
                            <td>{{data.aim}}</td>
                            <td>{{data.timezone}}</td>
                            <td>{{data.partner_request}}</td>
                            <td>{{data.priorities}}</td>
                        </tr>
                    </table>
                </div>
            </div>
    </body>
{% endblock %}