{% extends 'layout.html'%} 
{% block head %}
    <title>View Goals</title>
    <link rel="stylesheet" href="/static/css/viewgoals.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content%}
    <body>
        <header>{{usr}}'s Personal Goals</header>

            <div class="row">
            <div class="column" style="background-color:#aaa;">
                <h2>Overall Progress</h2>
                <p>Some text/figure..</p>
            </div>
            <div class="column" style="background-color:#bbb;">
                <h2>My Goals</h2>
                <!--<section>Goal 1: Get better at full stack development</section>
                <section>Goal 2:</section>
                <section>Goal 3:</section>
                <footer></footer>-->
                {% for goal in data %}
                <tr>
                    <td>{{goal.name}}</td>
                </tr>
                {% endfor %}
            </div>
            </div>
    </body>
{% endblock %}






    

